/* You can add global styles to this file, and also import other style files */

* {
	font-family: Arial, Helvetica, sans-serif;
	/* margin: 0; */
}

body {
	margin: 0;
	z-index: 10;

	/* background: url("../src/assets/img/background1.png"); */

	background-color: #08AEEA;
	background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);


	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	height: 100vh;
}

p {
	user-select: none;
}

.boton-registrar {
	padding: 10px;
	border: none;
	border-radius: 5px;
	background: #0d8b17;
	margin-top: 25px;
	color: #f1f1f1;
}

.bg-superior {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 40%;
	margin-top: 50px;
}

.bg-inferior {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
	width: 40%;
}

.sticky-nav {
	position: fixed;
	top: 0;
	width: 100%;
}




h1 {
	padding-top: 5%;
	text-align: center;
	color: #fff;
}