
<app-navbar></app-navbar>

<h1>Alta de productos</h1>

<div class="formulario">

	<div class="campo">
		<label for="id_producto">ID de Producto</label>
		<input type="text" name="id_producto" id="id_producto" placeholder="ID Producto">
	</div>
		

	<div class="campo">
		<label for="nombre_producto">Nombre de Producto</label>
		<input type="text" name="nombre_producto" id="nombre_producto" placeholder="Nombre Producto">
	</div>

	<div class="campo">
		<label for="precio_producto">Precio de Producto</label>
		<input type="number" name="precio_producto" id="precio_producto" placeholder="Precio Producto">
	</div>

	<div class="campo">
		<label for="costo_producto">Costo de Producto</label>
		<input type="number" name="costo_producto" id="costo_producto" placeholder="Costo Producto">
	</div>


	<div class="campo">
		<label for="cantidad">UnidadesC</label>
		<input type="text" name="cantidad" id="cantidad" placeholder="Unidades a registrar">
	</div>

	<div class="campo">
		<label for="categoria">Categoría</label>
		<input type="text" name="categoria" id="categoria" placeholder="Categoría">
	</div>

	<div class="campo">
		<label for="proveedor">ID Proveedor</label>
		<input type="text" name="proveedor" id="proveedor" placeholder="ID Proveedor">
	</div>

	<button class="boton-registrar" (click)="registrar()">Registrar Producto</button>

</div>