
<h1>Alta de productos</h1>

<div class="formulario">

	<div class="campo">
		<label for="nombre_producto">Nombre de Producto</label>
		<input type="text" name="nombre_producto" id="nombre_producto" placeholder="Nombre Producto">
	</div>

	<div class="campo">
		<label for="cantidad">Unidad</label>
		<input type="text" name="cantidad" id="cantidad" placeholder="Unidades a registrar">
	</div>

	<div class="campo">
		<label for="precio_producto">Precio de Producto</label>
		<input type="text" name="precio" id="precio" placeholder="Precio de Producto">
	</div>



</div>