
<h1>Alta de Proveedores</h1>

<div class="formulario">

	<div class="campo">
		<label for="id_proveedor">ID de Proveedor</label>
		<input type="text" name="id_proveedor" id="id_proveedor" placeholder="ID Proveedor">
	</div>

	<div class="campo">
		<label for="nombre_proveedor">Nombre del Proveedor</label>
		<input type="text" name="nombre_proveedor" id="nombre_proveedor" placeholder="Nombre Proveedor">
	</div>

	<div class="campo">
		<label for="email_proveedor">Correo del proveedor</label>
		<input type="email" name="email_proveedor" id="email_proveedor" placeholder="Correo del proveedor">
	</div>


	<div class="campo">
		<label for="telefono_proveedor">Teléfono</label>
		<input type="text" name="telefono_proveedor" id="telefono_proveedor" placeholder="Teléfono Proveedor">
	</div>

</div>